# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
*.vsidx

*.lock

# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
*.user
*.suo
*.log
*.lock
*.obj
*.exe
*.pdb
*.dll
*.cache
*.csproj.user
.metadata.v2
.projects.v2
dtbcache.v2
*.suo

# Ignore build output
bin/
obj/

# Ignore temporary files
*.tmp
*.bak
*.swp